.container {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    background-color: #808B96;
}

.image_logo {
    max-width: 20%;
    max-height: 50px;
    margin: 1% 1%;
    border-radius: 4px;
}

.title {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #76D7C4;
    background-color: #212F3D;
    border: none;
    /*color: #ffffff;*/
    font-size: 1.2em;
    padding: 15px;
    width: 180px;
    height: 55px;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (max-width: 1000px) {
    .main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}